
.banner{
      background-image: url('Banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; 
  width: 100%
}

.container{
    display:flex;
    border: black 2px solid;
    text-align: center center;

}


nav a{
    flex: 1;
    font-size: 30px;
    text-align: center;
}

#body div{
    flex: 1;
    font-size: 25px;
}

.quote p{
    font-size: 50px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    background-image: url('boat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30%; 
  width: 100%
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 black;
}
