 html {
        background-image: url;
        background-position: center center;
    }

.container{
    display:flex
}

#banner{
    text-align: center;
    color: red;
}

.container h1{
    text-align: center;
}

.container div{
    flex:1
}