html{
  background-image: url(https://img.freepik.com/free-photo/hong-kong-aerial-night_649448-3374.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner{
      background-image: url('Banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; 
  width: 100%
}

.container{
    display:flex;
    border: black 2px solid;
    text-align: center center;
    background-color: aliceblue;

}


nav a{
    flex: 1;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
  background-color: darkblue;
  color: paleturquoise;
  box-shadow: 0 4px 0;
  transition: 0.5s;
}
#body div{
    flex: 1;
    font-size: 25px;
    background-color: aliceblue;
}

.quote p{
    font-size: 50px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    background-image: url('boat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px; 
  
}


.card {

  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  background-color: aliceblue;
  filter: grayscale(50%);
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
  filter: grayscale(0%);
}

.layoutone div{
  border: black 2px solid ;
flex:1
}

.one{
  flex:1
}

.dimsum{
  flex: 3;
}

#img{
  border: 10px gray solid ;
}

#text{
  border: 10px yellow dashed;
}

#text div{
  font-size: 100px;
}