#banner div{
    width: 100%;
    background-image:url(Banner.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    display:flex;
    border: black 2px solid;
    text-align: center center;

}


nav a{
    flex: 1;
    font-size: 30px;
    text-align: center;
}

#body div{
    flex: 1;
    font-size: 25px;
}

#quote{
    text-align: center;
    font-size: 50px

}